<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/list.css">
    <title>列表页</title>
</head>

<body>
    <div class="all">
        <!-- ------------------------头部------------------------- -->
        <div class="head">
            <div class="header">
                <a href="index.html" class="logo">
                    <img src="../img/logo.png">
                </a>
                <ul>
                    <li>
                        <a href="javascript:;">产品</a>
                    </li>
                    <li>
                        <a href="javascript:;">关于公司</a>
                    </li>
                    <li>
                        <a href="javascript:;">支持</a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../img/earth.png">
                        </a>
                    </li>
                    <li>
                        <input type="text" value="搜索">
                    </li>
                </ul>
                <i></i>
                <b></b>
            </div>
        </div>
        <!-- ------------------------轮播------------------------- -->
        <div id="slideshow2"></div>
        <!-- ------------------------列表------------------------- -->
        <div class="list">
            <div class="list_item">
                <p class="list_tit">产品
                    <span>/</span>智能硬件</p>
                <div class="list_content">
                    <div class="list_item_c">
                        <a href="javascript:;">
                            <div class="list_img_ico">
                                <img src="../img/ZwdH2V32537z.png">
                                <p>要你好看</p>
                            </div>
                            <div class="list_img">
                                <img src="../img/i05T84Qx28Sw.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="list_item_c">
                        <a href="javascript:;">
                            <div class="list_img_ico">
                                <img src="../img/XMW1U31ZP0F9.png">
                                <p>前置双摄像，群拍更美</p>
                            </div>
                            <div class="list_img">
                                <img src="../img/6z532ufZ5gq1.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="list_item_c">
                        <a href="javascript:;">
                            <div class="list_img_ico">
                                <img src="../img/99N4DnfU5RO5.png">
                                <p>6GB 怪兽级游戏体验</p>
                            </div>
                            <div class="list_img">
                                <img src="../img/l8z063b689Ve.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="list_item_c">
                        <a href="javascript:;">
                            <div class="list_img_ico">
                                <img src="../img/G1YdLMBY5dYk.png">
                                <p>音质无损 游戏无阻</p>
                            </div>
                            <div class="list_img">
                                <img src="../img/BFSKFDy0645t.jpg">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="list_item">
                <p class="list_tit">产品
                    <span>/</span>智能产品</p>
                <div class="list_content">
                    <div class="list_item_c">
                        <a href="javascript:;">
                            <!-- <div class="list_img_ico">
                                <img src="../img/ZwdH2V32537z.png">
                                <p>要你好看</p>
                            </div> -->
                            <div class="list_img">
                                <img src="../img/KT70Q91I91xs.jpg">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- -----------------底部------------------ -->
        <div class="footer">
            <div class="footer_con">
                <div class="footer_left">
                    <dl>
                        <dt>
                            <b>推荐产品</b>
                            <span>+</span>
                        </dt>
                        <dd>
                            <a href="javascript:;">儿童手表</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">COOL M7</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">酷玩6c</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">酷玩6</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">COOL CHANGER S1</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <b>推荐产品</b>
                            <span>+</span>
                        </dt>
                        <dd>
                            <a href="javascript:;">儿童手表</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">COOL M7</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">酷玩6c</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">酷玩6</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">COOL CHANGER S1</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <b>推荐产品</b>
                            <span>+</span>
                        </dt>
                        <dd>
                            <a href="javascript:;">儿童手表</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">COOL M7</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">酷玩6c</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">酷玩6</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">COOL CHANGER S1</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <b>推荐产品</b>
                            <span>+</span>
                        </dt>
                        <dd>
                            <a href="javascript:;">儿童手表</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">COOL M7</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">酷玩6c</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">酷玩6</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">COOL CHANGER S1</a>
                        </dd>
                    </dl>
                </div>
                <div class="footer_right">
                    <p>关注我们</p>
                    <dl>
                        <dt>
                            <img src="../img/wx_ico.png" id="wx_gray">
                            <img src="../img/wx_ico_over.png" id="wx_green">
                        </dt>
                        <dd id="wx_over">
                            <img src="../img/wx_code.jpg">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="../img/sina_ico.png" id="wb_gray">
                            <img src="../img/sina_ico_over.png" id="wb_red">
                        </dt>
                        <dd id="wb_over">
                            <img src="../img/code.jpg">
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="company_info">
                <p>
                    <span>粤ICP备15075056号-1a</span>
                </p>
                <p>
                    <span>Copyright © 2017, Coolpad Co., Ltd. All Right Reserved. 宇龙计算机通信科技（深圳）有限公司</span>
                </p>
            </div>
        </div>
    </div>
</body>

</html>
<script src="../js/JQuery.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/slideshow.js"></script>
<script>
    $(function () {
        new Slideshow({
            'boxDom': $('#slideshow2'),

            'imgs': ['../img/rOZ5GeplyxZ8.jpg', '../img/banner_C6.jpg', '../img/banner_M7_P.jpg', '../img/eEGNZLcO4q51.jpg'],

            'btnW': '50px',
            'btnH': '8px'
        })
    })
</script>